
$primary: #0093FF;
$secondary: #58595B;



.btn-primary {
    color: #ffffff !important;
    background-color: #0093FF;
    border-color: #0093FF;
  }





@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
//@import '../../node_modules/bootstrap/scss/bootstrap.scss';